img {border-radius: 50%}
body {text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 400px;
    margin-left: 400px;}
    h1, h2 {font-family: 'Chakra Petch', sans-serif;}
    p {font-family: 'Source Serif Pro', serif;}
